body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  border: 0px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  margin-right: 0px;
  margin-top: 0px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.light {
  background: #F0D9B5;
}

.dark {
  background: #B58764;
}

.clicked {
  background: #869769
}

.br {
  background-image: url("./images/BR.png");
}

.bn {
  background-image: url("./images/BN.png");
}

.bb {
  background-image: url("./images/BB.png");
}

.bq {
  background-image: url("./images/BQ.png");
}

.bk {
  background-image: url("./images/BK.png");
}

.bp {
  background-image: url("./images/BP.png");
}

.wr {
  background-image: url("./images/WR.png");
}

.wn {
  background-image: url("./images/WN.png");
}

.wb {
  background-image: url("./images/WB.png");
}

.wq {
  background-image: url("./images/WQ.png");
}

.wk {
  background-image: url("./images/WK.png");
}

.wp {
  background-image: url("./images/WP.png");
}

.square:focus {
  outline: none;
}
